<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4003" targetFramework="net48" />
  <package id="ini-parser" version="2.5.2" targetFramework="net45" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="StyleCop.MSBuild" version="6.2.0" targetFramework="net48" developmentDependency="true" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net48" />
</packages>